.profile__info {
  margin-left: 31px;
  margin-top: 27px;
  max-width: 338px;
}

@media screen and (max-width: 920px) {
    .profile__info{
        max-width: 278px;
    }
  }
  @media screen and (max-width: 642px) {
    .profile__info{
        max-width: 218px;
        margin: 24px 0 0 65px;
    }
  }

