.profile__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 9px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 642px) {
    .profile__subtitle {
        max-width: 171px;
        font-size: 14px;
        line-height: 17px;
        margin: 5px 0 0 16px;
    }
  }