.popup__close {
  width: 40.7px;
  height: 40.7px;
  transform: rotate(45deg);
  background-size: cover;
  transition: opacity .2s ease-out;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
    }

@media screen and (max-width: 642px) {
    .popup__close {
        width: 26px;
        height: 26px;
    }
}