.popup__window {
    margin: auto;
    position: relative;
    z-index: 3;
  }
  
  @media screen and (max-width: 642px) {
      .popup__window {
          width: 277px;
          min-height: 418px;
      }
    }
  