.element {
  width: 282px;
  height: 361px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-top: 2px;
  position: relative;
}

@media screen and (max-width: 920px) {
  .element {
    margin: 0 auto 0;
  }
}


@media screen and (max-width: 642px) {
    .element {
        margin: 2px auto 0;
    }
  }

