.element__trash {
    width: 18px;
    height: 19px;
    background-size: cover;
    transition: opacity .2s ease-out;
    display: block;
  }
  
  .element__trash:hover {
      opacity: 0.6;
      cursor: pointer;
      }
