.header {
  margin-top: 45px;
  max-width: 880px;
  padding-bottom: 36px;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 642px) {
    .header {
        margin-top: 28px;
        padding-bottom: 25px;
    }
  }
